<!DOCTYPE html>

<html>
    <body>
        {% for user in users %}
        <li>
            {{user.name}} | 
            <a href="/user/{{user.id}}"> Show | </a>
            <a href="/user/{{user.id}}/delete">  Delete |</a>
            <a href="/user/{{user.id}}/update"> edit</a>
        </li>
        {% endfor %}

        <ul>
            <a href="/user/new">Create User</a>
        </ul>
    </body>
</html>